.carousel-item{
    background-color: #f5f5f5;
    transition: transform 1s ease-in-out;
}

.carousel-indicators {
    gap: 4px;
}

.carousel-indicators .btn-slide {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #cccccc;
}

.carousel-indicators .btn-slide.active {
    background-color: #c92071;
}

.carousel-inner .carousel-item {
    width: 100vw;
}

.carousel-item .slide-left,
.carousel-item.slide-right {
    width: 45%;
    display: block;
}

.slide-left-title {
    color: #f6aa1c;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.75px;
}

.slide-left-subtitle {
    width: 510px;
    height: 132px;
    flex-shrink: 0;
    color: var(--dark-gray, #1f1f1f);
    font-feature-settings: "clig" off, "liga" off;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 66px; /* 103.125% */
    letter-spacing: 1px;
}

.slide-left-text {
    width: 495px;
    color: #474747;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 188.889% */
    letter-spacing: 0.75px;
}

@media (max-width: 768px){
    .slide-left-subtitle{
        width: 90vw;
        height: auto;
    }
    .slide-left-text{
        width: 80vw;
        height: auto;
    }

    .slide-right{
        width: 90vw;
    }

    /* .slide-right img{
        width: 220px;
        margin-top: 400px;
        position: relative;
        left: -250px;
    }

    .slide-right img.circle{
        width: 50px;
    } */
}

@media (max-width: 420px){
    .slide-left-subtitle{
        width: 290px;
        height: 290px;
    }
    /* .slide-right img{
        display: none;
    } */
    .slide-left-btn{
        margin: 0px;
    }
}

.slide-left-btn {
    background-color: #c92071;
    border-radius: 10px;
    width: 220px;
    color: white;
    font-weight: bold;
    padding: 12px;
    border: none;
    transition-duration: 300ms;
}

.slide-left-btn:hover{
    background-color: #951754;
    transition-duration: 300ms;
}

.img-main{
    max-width: 100%;
    height: auto;
}