.produto-alta-card {
    min-width: 200px;
    width: calc(25vw - 3 * 1em);
}

@media (max-width: 900px) {
    .produto-alta-card {
        width: calc(33vw - 3 * 1em);
    }
}

@media (max-width: 724px) {
    .produto-alta-card {
        width: calc(50vw - 3 * 1.5em);
    }
}

@media (max-width: 550px) {
    .produto-alta-card {
        width: 100vw;
    }
}
