.pesquisar {
    padding: 10px;
    height: 60px;
    width: 40vw;
    border: none;
    border-radius: 10px;
    background-color: #f8f8f8;
}

.pesquisar::placeholder {
    opacity: initial;
    color: #a0a0a0;
}

.pesquisar + img {
    margin-left: -35px;
    margin-right: 35px;
}

.btn-cadastro {
    color: #474747;
}

.btn-cadastro:hover {
    color: #c92071;
    font-weight: bold;
    transition-duration: 300ms;
}

.btn-entrar {
    width: 114px;
    height: 40px;
    background-color: #c92071;
    color: white;
}

.btn-entrar:hover {
    background-color: #951754;
    color: white;
    transition-duration: 300ms;
}

.nav-link:hover {
    font-weight: bold;
    color: #c92071;
    transform: translateY(-5px);
    border-bottom: 3px solid #c92071;
}

.nav-link.actived {
    color: #cf3b83;
    font-weight: bold;
}
