footer {
    background-color: #1F1F1F;
    color: white;
    padding-top: 50px;
}

ul{
    margin-left: 0;
    padding-left: 0;
}

h3{
    padding-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
}

li{
    list-style: none;
    margin-bottom: 24px;
    font-size: 16px;
}

.section-main{
    width: 350px;
}

@media (max-width: 400px) {
    .section-main p{
        width: 250px;
    }
}

.section-information, .section-category{
    width: 200px;
}

.section-contact{
    width: 250px;
}