.produto-alta-title {
    color: var(--dark-gray-2, #474747);
    font-feature-settings: "clig" off, "liga" off;

    /* Text Large Bold */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px; /* 158.333% */
    letter-spacing: 0.75px;
}

.produto-alta-seta a{
    color: var(--primary, #C92071);
    font-feature-settings: 'clig' off, 'liga' off;
    text-decoration: none;
    /* Text Medium - Desktop */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 188.889% */
    letter-spacing: 0.75px;
}

.produto-alta-bg-desconto {
    display: inline-flex;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 29px;
    background: #e7ff86;
    color: var(--dark-gray-2, #474747);
    font-feature-settings: "clig" off, "liga" off;

    /* Text X-Small Bold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.75px;
}

.produto-alta-bg-sem-desconto {
    display: inline-flex;
    padding: 5px 15px;
    height: 25px;
    width: 100%;
}

.produto-alta-bg {
    flex-shrink: 0;
    border-radius: 4px;
    background: #fff;
    box-shadow: 6px 16px 30px 0px rgba(105, 98, 98, 0.05);
}

.produto-alta-bg img {
    width: 80%;
    margin-left: 10%;
}

.produto-alta-categoria {
    color: var(--light-gray, #8f8f8f);
    font-feature-settings: "clig" off, "liga" off;

    /* Text Tinny Bold */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 200% */
    letter-spacing: 0.75px;
}

.produto-alta-nome {
    color: var(--dark-gray-2, #474747);
    font-feature-settings: "clig" off, "liga" off;

    /* Text Large - Desktop */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 158.333% */
    letter-spacing: 0.75px;
}

.produto-alta-preco-antigo {
    color: var(--light-gray, #8f8f8f);
    text-decoration: line-through;
    font-feature-settings: "clig" off, "liga" off;

    /* Text Large - Desktop */
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 158.333% */
    letter-spacing: 0.75px;
}

.produto-alta-preco-atual {
    color: var(--dark-gray, #1f1f1f);
    font-feature-settings: "clig" off, "liga" off;

    /* Text Large Bold */
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px; /* 158.333% */
    letter-spacing: 0.75px;
}

.produto-alta-card-placement.unload *{
    opacity: 0.0;
}

.produto-alta-card-placement.unload{
    background-color: #b7b9bd;
    margin-bottom: 1em;
    border-radius: 20px;
    border: 8px solid #ffffff;
}