.menu-filtrar{
    width: 1000px;
}

.menu-filtrar h2 {
    color: var(--dark-gray-2, #474747);
    font-feature-settings: "clig" off, "liga" off;

    /* Text Small Bold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.75px;
}

.menu-filtrar-filtro h4{
    color: var(--dark-gray-2, #474747);
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* Text X-Small Bold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.75px;
}

.menu-filtrar-filtro label{
    color: var(--dark-gray-2, #474747);
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* Text X-Small - Desktop */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.25px;
    cursor: pointer;
}

.menu-filtrar-filtro .d-flex{
    position: relative;
}

.menu-filtrar-filtro input{
    display: none;
}

.menu-filtrar-filtro label:hover{
    color: #c92071;
    font-weight: bold;
}

.menu-filtrar-filtro label::before {
    display: inline-block;
    content: "";
    transform: translate(-10px, 5px);
    width: 22px;
    height: 22px;
    border: 1px solid #666666;
    border-radius: 3px;
    margin-left: 11px;
    position: relative; /* Adicionado para posicionar corretamente o ::after */
}

.menu-filtrar-filtro input:checked + label::before {
    background-color: #c92071;
    border: none;
}

.menu-filtrar-filtro input:checked + label::after {
    content: "";
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 12px; /* Centraliza horizontalmente */
    width: 8px;
    height: 14px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    transform: translate(-50%, -50%) rotate(45deg) scaleX(-1); /* Ajusta a posição e rotação */
    transform-origin: center; /* Garante que a rotação ocorra no centro */
}
