*{
    font-family: "Inter";
}

.Page{
    text-align: center;
    width: 100%;
    height: 200px;
    line-height: 200px;
    background-color: #c92071;
    font-size: 48px;
    font-weight: 600;
    color: white;
}